*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Cparent{
    width: 86%;
    margin: 0 auto;
    background-image: url('/Images/portfolio.jpg');
}
.Cparent h2{
    color: white;
    padding: 20px;
}
.Cparent a{
    padding: 12px;
    cursor: pointer;
    color:purple;
    background-color: white;
    border-radius: 50%; 
}
.Cparent a:hover{
    background-color:palegreen;
    color:tomato;
}