/* h1{
color:olivedrab;
}

p{
    background:black;
    color:yellow;
} */
 /* .title{
    color:orange
}  */
 /* #title{
    color:red;
}  */
/* [disabled]{
    color:rgb(123,1,56)
} */
body
{
    background: yellowgreen;
}

img{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%
}
.image{
    border-bottom-color:black;
    color:brown;
}
#name{
    color:palevioletred;
}