/* 
img{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%
}
.image{
    border-bottom-color:black;
    color:brown;
}
#name{
    color:palevioletred;
} */
/* .parent{
    display:left;
} */
body{
    /* height: 100vmax; */
    background-image: url('../dillon-shook.jpg');
    background-size:cover;
}
.profile{
    width: 200px;
    height: 200px;
    border:2px solid rgb(235, 221, 37);
     border-radius: 50%; 
     align-items: left;
     margin-left: 10%;
  
  }

img {
    border-radius: 50%;
}
.profiletext{
    margin-left: 10%;
    width: fit-content;
    height: fit-content;
    text-align: left;
    color:rgba(236, 18, 18, 0.952);
}
p{
    font-size:1.1em;
}
h2{
    color:rgb(122, 15, 155);
}
 */